header{
    height: 400px;
    background: url(images/coffee-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    height:50px;
}

.navbar ul{
    font-family: "permanent marker", sans-serif;
    list-style-type: none;
    font-size: 30px;
    color: red;
    padding: 0px;
    overflow: hidden;

}

.navbar a{
    text-decoration: none;
    color: hsla(44, 91%, 21%, 0.582);
    display: block;
    text-align: center;
    padding: 0px 20px;
}

.navbar a:hover{
    color: rgb(199, 84, 8);
    font-size: 35px;
}

.navbar li{
    float: left;
}

.main-header h1{
    text-align: center;
    font-family: sans-serf;
    font-size: 70px;
    color: rgb(199, 84, 8);
}

.button1{
    border-radius: 10px;
    background-color: white;
    display: block;
    margin: auto;
    border: 0px;
}

.button1:hover{
    background-color:hsla(44, 91%, 21%, 0.582);
}

.button1 a{
    text-decoration: none;
    font-family: "permanent marker", sans-serif;
    font-size: 30px;
    color: hsla(44, 91%, 21%, 0.582);
}

.button1 a:hover{
    color: white;
    font-size: 35px;
}